<form class="{{cssClass}}" autocomplete="off">
  <div class="item destin">
        <label>Vitalite</label>
        <input type="number" name="data.vitalite" value="{{actor.system.vitalite}}" max="{{json actor.system.schema.fields.vitalite.max}}" />
        {{!-- json actor.system.schema.fields.vitalite --}}
      </div>
</form>
